<h1>Favorite authors</h1>

<a [routerLink]="['/']">Home</a>

<h3 *ngIf="(muestraMens)">
    Lo sentimos, pero no se pudo encontrar al autor que estás buscando. ¿Te gustaría agregar este autor a nuestra base de datos, presione <a [routerLink]="['/Crea']">aqui</a>?
</h3>

<div *ngIf="!(muestraMens)">
    <h3>Quotes by {{Enom_AUT}}:</h3>

    <form method="post" (submit)="Crea()">
    <label for="cita">Cita</label><br>
    <input type="text" name="cita" id="cita" [placeholder]="Mesnaje2" [(ngModel)]="cita">{{mensaje_back}}<br>
    <button type="button" [routerLink]="['/Citas/',Eid_AUT]">Cancel</button><button type="submit">Enviar</button>
    </form>
</div>